script:
- git remote add upstream https://github.com/klausw/hackerskeyboard.git
- git fetch upstream master
- git push origin upstream/master:master
branches:
  except:
    - /^deploy-.*$/
notifications:
  email: false
