language: android
android:
  components:
  - build-tools-21.1.2
  - android-12
addons:
  apt:
    packages:
    - ant
    - xmlstarlet
before_script:
- cd java
- echo -e "key.store=$TRAVIS_BUILD_DIR/my-release-key.keystore\nkey.alias=alias_name\nkey.store.password=$KEYSTORE_PASS\nkey.alias.password=$KEYSTORE_PASS" >> build.properties
- echo -e "key.store=$TRAVIS_BUILD_DIR/my-release-key.keystore\nkey.alias=alias_name\nkey.store.password=$KEYSTORE_PASS\nkey.alias.password=$KEYSTORE_PASS" >> local.properties
- echo -e "key.store=$TRAVIS_BUILD_DIR/my-release-key.keystore\nkey.alias=alias_name\nkey.store.password=$KEYSTORE_PASS\nkey.alias.password=$KEYSTORE_PASS" >> ant.properties
- echo "sdk.dir=$ANDROID_HOME" >> local.properties
script:
- ant release
before_deploy:
  - echo -e "machine github.com\nlogin galeksandrp\npassword $GITHUB_TOKEN" >> ~/.netrc
  - git tag -f $(xmlstarlet sel -t -v '/manifest/@android:versionName' java/AndroidManifest.xml)-$TRAVIS_BRANCH-deploy
  - git push origin -f $(xmlstarlet sel -t -v '/manifest/@android:versionName' java/AndroidManifest.xml)-$TRAVIS_BRANCH-deploy
deploy:
  provider: releases
  api_key: $GITHUB_TOKEN
  skip_cleanup: true
  file: 
  - bin/*.apk
  file_glob: true
  overwrite: true
  on:
    all_branches: true
branches:
  except:
    - /^deploy-.*$/
    - /^.*-deploy$/
    - /^untagged-.*$/
notifications:
  email: false
before_install:
- openssl aes-256-cbc -K $encrypted_34cc2288df4a_key -iv $encrypted_34cc2288df4a_iv -in my-release-key.keystore.enc -out my-release-key.keystore -d
